In [1]:
import pandas as pd

fonte = "https://github.com/alura-cursos/imersao-dados-2-2020/blob/master/MICRODADOS_ENEM_2019_SAMPLE_43278.csv?raw=true"

dados = pd.read_csv(fonte)
dados.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q023  Q024 Q025
0  190001004661    2019                  1506138  ...    A     B    B
1  190001004674    2019                  1504208  ...    A     A    B
2  190001004722    2019                  1501402  ...    A     A    B
3  190001004735    2019                  1507300  ...    A     A    B
4  190001004776    2019                  1500800  ...    A     A    B

[5 rows x 136 columns]

In [2]:
provas = ["NU_NOTA_CN","NU_NOTA_CH","NU_NOTA_MT","NU_NOTA_LC","NU_NOTA_REDACAO"]

dados[provas].describe()

         NU_NOTA_CN    NU_NOTA_CH    NU_NOTA_MT    NU_NOTA_LC  NU_NOTA_REDACAO
count  92758.000000  98043.000000  92758.000000  98043.000000     98043.000000
mean     477.964015    507.365912    523.555206    520.463928       571.570025
std       76.296099     82.972839    109.416939     64.556578       188.076455
min        0.000000      0.000000      0.000000      0.000000         0.000000
25%      418.000000    447.900000    435.300000    483.700000       480.000000
50%      470.200000    510.900000    501.600000    526.100000       580.000000
75%      533.300000    567.100000    598.200000    565.100000       680.000000
max      797.300000    809.400000    985.000000    801.700000      1000.000000

In [3]:

dados["NU_NOTA_TOTAL"] = dados[provas].sum(axis=1)
dados.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q024  Q025 NU_NOTA_TOTAL
0  190001004661    2019                  1506138  ...    B     B        2288.9
1  190001004674    2019                  1504208  ...    A     B        1184.6
2  190001004722    2019                  1501402  ...    A     B        2350.5
3  190001004735    2019                  1507300  ...    A     B        2555.7
4  190001004776    2019                  1500800  ...    A     B        2803.5

[5 rows x 137 columns]

In [4]:
provas = ["NU_NOTA_CN","NU_NOTA_CH","NU_NOTA_MT","NU_NOTA_LC","NU_NOTA_REDACAO"]
provas.append("NU_NOTA_TOTAL")
dados[provas].query("NU_NOTA_TOTAL == 0")

        NU_NOTA_CN  NU_NOTA_CH  ...  NU_NOTA_REDACAO  NU_NOTA_TOTAL
10             NaN         NaN  ...              NaN            0.0
11             NaN         NaN  ...              NaN            0.0
26             NaN         NaN  ...              NaN            0.0
38             NaN         NaN  ...              NaN            0.0
40             NaN         NaN  ...              NaN            0.0
...            ...         ...  ...              ...            ...
127351         NaN         NaN  ...              NaN            0.0
127365         NaN         NaN  ...              NaN            0.0
127366         NaN         NaN  ...              NaN            0.0
127368         NaN         NaN  ...              NaN            0.0
127374         NaN         NaN  ...              NaN            0.0

[29162 rows x 6 columns]

In [5]:
dados_sem_notas_zero = dados.query("NU_NOTA_TOTAL != 0")
dados_sem_notas_zero.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q024  Q025 NU_NOTA_TOTAL
0  190001004661    2019                  1506138  ...    B     B        2288.9
1  190001004674    2019                  1504208  ...    A     B        1184.6
2  190001004722    2019                  1501402  ...    A     B        2350.5
3  190001004735    2019                  1507300  ...    A     B        2555.7
4  190001004776    2019                  1500800  ...    A     B        2803.5

[5 rows x 137 columns]

In [6]:
provas_entrada = ["NU_NOTA_CH","NU_NOTA_LC", "NU_NOTA_CN","NU_NOTA_REDACAO"]
prova_saida = "NU_NOTA_MT"
dados_sem_notas_zero = dados_sem_notas_zero[provas].dropna()
notas_entrada = dados_sem_notas_zero[provas_entrada]
notas_saida = dados_sem_notas_zero[prova_saida]

In [7]:
notas_entrada

        NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_CN  NU_NOTA_REDACAO
0            512.3       488.6       435.6            420.0
2            499.1       441.0       423.2            560.0
3            578.1       551.5       426.2            500.0
4            571.3       511.2       516.5            780.0
5            618.7       607.5       559.6            900.0
...            ...         ...         ...              ...
127373       501.5       485.3       480.4            520.0
127375       559.6       525.7       502.4            740.0
127376       380.9       450.3       449.1            520.0
127378       416.2       517.3       564.7            620.0
127379       425.5       477.1       466.7            480.0

[92537 rows x 4 columns]

In [8]:
x = notas_entrada
y = notas_saida

In [9]:
from sklearn.model_selection import train_test_split

SEED = 4321

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.25,
                                                        random_state=SEED)

In [10]:
from sklearn.svm import LinearSVR

modelo = LinearSVR(random_state = SEED)
modelo.fit(x_treino, y_treino)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVR(C=1.0, dual=True, epsilon=0.0, fit_intercept=True,
          intercept_scaling=1.0, loss='epsilon_insensitive', max_iter=1000,
          random_state=4321, tol=0.0001, verbose=0)

In [11]:
predicoes_matematica = modelo.predict(x_teste)

In [12]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_teste, predicoes_matematica)

6604.41530621957

## Aula 05

In [13]:
from sklearn.svm import LinearSVR

modelo = LinearSVR(random_state=SEED)
modelo.fit(x_treino, y_treino)
predicoes_matematica = modelo.predict(x_teste)
mean_squared_error(y_teste, predicoes_matematica)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

6604.41530621957

In [14]:
from sklearn.tree import DecisionTreeRegressor

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.25)
modelo_arvore = DecisionTreeRegressor(max_depth = 3)
modelo_arvore.fit(x_treino, y_treino)
predicoes_matematica_arvore = modelo_arvore.predict(x_teste)
mean_squared_error(y_teste, predicoes_matematica_arvore)

5992.448933113104

In [15]:
from sklearn.model_selection import cross_validate

modelo_arvore = DecisionTreeRegressor(max_depth=2)
resultados = cross_validate(modelo_arvore, x, y, cv= 10, scoring="neg_mean_squared_error")
media = (resultados["test_score"]*-1).mean()

In [16]:
from sklearn.model_selection import cross_validate

modelo_arvore = DecisionTreeRegressor(max_depth=2)
resultados = cross_validate(modelo_arvore, x, y, cv= 10, scoring="neg_mean_squared_error")
media = (resultados["test_score"]*-1).mean()
desvio_padrao = (resultados["test_score"]*-1).std()
lim_inferior = media - (2*desvio_padrao)
lim_superior = media + (2*desvio_padrao)

print(f"Intervalo de confiança {lim_inferior} - {lim_superior}")

Intervalo de confiança 6015.72254953681 - 7100.732779780726

In [17]:
resultados["test_score"]*-1

array([6118.6911947 , 6536.09830186, 6338.64260896, 6456.70685686,
       6234.97203593, 6794.25120283, 6713.45694262, 6693.04880297,
       6610.58461646, 7085.82408339])

In [18]:
def calcula_mse(resultados):
    media = (resultados["test_score"]*-1).mean()
    desvio_padrao = (resultados["test_score"]*-1).std()
    lim_inferior = media - (2*desvio_padrao)
    lim_superior = media + (2*desvio_padrao)
    print(f"Intervalo de confiança {lim_inferior} - {lim_superior}")

In [19]:
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold
import numpy as np

SEED= 1232
np.random.seed(SEED)



partes = KFold(n_splits = 10, shuffle=True)
modelo_arvore = DecisionTreeRegressor(max_depth=3)
resultados = cross_validate(modelo_arvore, x, y, cv= partes, scoring="neg_mean_squared_error")
calcula_mse(resultados)

Intervalo de confiança 5858.741842392759 - 6250.793292491384

In [20]:
def regressor_arvore(nivel):
    SEED= 1232
    np.random.seed(SEED)
    partes = KFold(n_splits = 10, shuffle=True)
    modelo_arvore = DecisionTreeRegressor(max_depth=nivel)
    resultados = cross_validate(modelo_arvore, x, y, cv= partes, scoring="neg_mean_squared_error", return_train_score=True)
    print(f"Treino = {(resultados['train_score']*-1).mean()}|Teste = {(resultados['test_score']*-1).mean()}")

regressor_arvore(4)

Treino = 5760.834451245899|Teste = 5815.707286597402

In [21]:
for i in range(1,21):
    regressor_arvore(i)

Treino = 7844.952652412207|Teste = 7857.871770206351
Treino = 6527.783475408351|Teste = 6556.886287657656
Treino = 6021.275229419075|Teste = 6054.767567442072
Treino = 5760.834451245899|Teste = 5815.707286597402
Treino = 5598.158955426787|Teste = 5675.196789060744
Treino = 5469.677369145869|Teste = 5593.304363812442
Treino = 5369.458309852721|Teste = 5541.646599457925
Treino = 5276.16965707928|Teste = 5542.053091078966
Treino = 5166.713159932668|Teste = 5608.390265709719
Treino = 5022.598049115693|Teste = 5761.4934268457555
Treino = 4833.560706021637|Teste = 5955.331403579403
Treino = 4598.125022484774|Teste = 6217.553668629227
Treino = 4316.3791662866815|Teste = 6521.403312280134
Treino = 4000.6209880837496|Teste = 6853.984106997142
Treino = 3655.8197526274853|Teste = 7224.863053512405
Treino = 3295.832684540846|Teste = 7636.168819779455
Treino = 2931.7212612043877|Teste = 8071.851486256819
Treino = 2575.59534021339|Teste = 8452.126711298857
Treino = 2233.574203221172|Teste = 8833.470443567128
Treino = 1913.8727239705706|Teste = 9137.12202398264